<table class="highlight">
  <thead>
    <tr>
      <th>Brew Date</th>
      <th>Coffee Origin/Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    {{#each entries}}
    <tr>
      <td>{{brew_date}}</td>
      <td>{{coffee_name}}</td>
      <td>{{taste}}</td>
    </tr>
    {{else}}
    <tr>
      <td colspan=3 style="text-align: center;">No entries yet... Click the "+" button to start logging.</td>
    </tr>
    {{/each}}
  </tbody>
</table>